<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="body-component" routerLinkActive="active" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Github</a></li>
      <li class="nav-item"><a href="#" class="nav-link">LinkedIn</a></li>
      <li class="nav-item"><a href="#" class="nav-link">CodeWars</a></li>
      <li class="nav-item"><a routerLink="about-component" routerLinkActive="active" class="nav-link">About</a></li>
    </ul>
  </header>
</div>