<nav class="navbar bg-dark">
  <div class="nav-flex">
    <a class="nav-link nav-text" href="#">Home</a>
    <a class="nav-link nav-text" href="#">Placeholder</a> <!-- To be replaced by a dropdown or a search box that will allow me to browse manufacturers -->
    <a class="nav-link nav-text" href="#">My account</a> <!-- Will redirect to a log-in page (I'm not gonna allow new accounts) -->
    <a class="nav-link nav-text" href="#" *ngIf="">Admin panel</a> <!-- Will only show up if an admin account is logged in -->
  </div>
</nav>