<nav class="navbar bg-dark">
  <div class="nav-flex">

    <a 
    class="nav-link nav-text" 
    routerLink="/home" 
    routerLinkActive="activebutton">
    Home
    </a>

    <a 
    class="nav-link nav-text" 
    routerLink="/cars" 
    routerLinkActive="activebutton">
    Cars
    </a> <!-- Will show up a page filled with cars supporting sorting of multiple sorts -->

    <a 
    class="nav-link nav-text" 
    routerLink="/account" 
    routerLinkActive="activebutton">
    My account
    </a> <!-- Will redirect to a log-in page (I'm not gonna allow new accounts) -->

    <a 
    class="nav-link nav-text" 
    routerLink="/admin" 
    routerLinkActive="activebutton" 
    *ngIf="">
    Admin panel
    </a> <!-- Will only show up if an admin account is logged in -->

  </div>
</nav>