.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.flexing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 0 2rem;
}

.center {
  padding: 1rem 2rem 1rem 2rem;
}

.footer-links {
  text-decoration: none;
  color: white;
}

i {
  margin-right: 3px;
}