<div class="footer bg-dark">
  <div class="flexing">
    <div class="left-side">
      <a href="https://github.com/iMikuu" target="_blank" class="footer-links">
        <i class="bi bi-github"></i>Github
      </a>
    </div>
    
    <div class="center">
      <a href="https://www.linkedin.com/in/mihai-lalescu/" target="_blank" class="footer-links">
        <i class="bi bi-linkedin"></i>LinkedIn
      </a>
    </div>
    
    <div class="right-side">
      <a href="#" target="" class="footer-links">
        <i class="bi bi-file-code"></i>Portofolio <!-- Which is non-existent at the moment so the link will get added the moment I build a portofolio -->
      </a> 
    </div>
  </div>
</div>